<div align="left" style="margin: 40px 50px;"> 

    <div id="contieneTabla" style="margin: 40px 100px">
        <h5>Insert new Bank Entity</h5>
                
        <form>
            <input type="text" ng-model="entidadBancaria.idEntidad" class="input-small" placeholder="IdEntity" {{desactiva}}><br>
            <input type="text" ng-model="entidadBancaria.codigoEntidad" class="input-small" placeholder="Code"><br>
            <input type="text" ng-model="entidadBancaria.nombre" class="input-small" placeholder="C.I.F."><br>
            <input type="text" ng-model="entidadBancaria.cif" class="input-small" placeholder="Name"> <br>


            <select ng-model="entidadBancaria.tipoEntidadBancaria">
                <option selected>Select Entity Type</option>
                <option value="CAJADEAHORRO">Savings Bank</option>
                <option value="BANCO">Bank</option>
                <option value="COOPERATIVA">Credit Cooperative</option>
                <option value="ESTABLECIMIENTO">Financial Institution</option>
            </select>
        </form>
        <br/><br/>
        <button type="button" class="btn" ng-click="buttonOK()">Submit</button>
        
        <p><a href="#/">Inicio</a></p>
    </div>
</div>