<div class="col-lg-6">
    <form class="well">
        <fieldset>
            <legend>Insert new Bank Entity</legend>
            <div class="control-group">
                <!--<input type="text" ng-model="entidadBancaria.idEntidad" class="input-small" placeholder="IdEntity" readonly=""><br>-->
                <input type="text" ng-model="entidadBancaria.codigoEntidad" class="form-control" placeholder="Code"><br>
                <input type="text" ng-model="entidadBancaria.nombre" class="form-control" placeholder="Name"><br>
                <input type="text" ng-model="entidadBancaria.cif" class="form-control" placeholder="CIF"> <br>


                <select ng-model="entidadBancaria.tipoEntidadBancaria" class="form-control">
                    <option value="BANCO" selected="">BANCO</option>
                    <option value="CAJADEAHORRO">CAJADEAHORRO</option>
                    <option value="COOPERATIVA">COOPERATIVA</option>
                    <option value="ESTABLECIMIENTO">ESTABLECIMIENTO</option>
                </select>

            </div>
        </fieldset>
    </form>
    <button type="button" class="btn btn-primary" ng-click="buttonOK()">Submit</button>
</div>


