
<div class="col-lg-6">
    <form class="well">
        <fieldset>
            <legend>Insert new Transaction</legend>
            <input type="text" ng-model="movimientoBancario.importe" class="form-control" placeholder="Amount"><br>
            <input type="text" ng-model="movimientoBancario.concepto" class="form-control" placeholder="Concept"> <br>
            <input type="text" ng-model="movimientoBancario.fecha" class="form-control" placeholder="Date"> <br>

            <select ng-model="movimientoBancario.tipoMovimientoBancario" class="form-control">
                <option value="DEBE">DEBE</option>
                <option value="HABER">HABER</option>
            </select>
        </fieldset>
    </form>
    <button type="button" class="btn btn-primary" ng-click="buttonOK()">Submit</button>
</div>