<div align="left" style="margin: 40px 50px;"> 

    <div id="contieneTabla" style="margin: 40px 100px">
        <h5>Inserte su cuenta Bancaria nueva</h5>
                
        <form>
            <input type="text" ng-model="cuentaBancaria.idCuentaBancaria" class="input-small" placeholder="idCuentaBancaria" {{descativa}}><br>
            <input type="text" ng-model="cuentaBancaria.sucursalBancaria.nombre" class="input-small" placeholder="nombre"><br>
            <input type="text" ng-model="cuentaBancaria.dc" class="input-small" placeholder="DC"><br>
            <input type="text" ng-model="cuentaBancaria.cif" class="input-small" placeholder="Cif"> <br>
            <input type="text" ng-model="cuentaBancaria.saldo" class="input-small" placeholder="Saldo"> <br>


            
        </form>
        <br/><br/>
        <button type="button" class="btn" ng-click="buttonOK()">enviar</button>
        
        <p><a href="#/">Inicio</a></p>
    </div>
</div>