<h1 align="center">Cuentas Bancarias</h1>
<div align="center" style="margin: 40px 50px;" ng-controller="CuentasBancariasSearchController"> 
    <input type="text" class="input-medium search-query" placeholder="Find by Entity" ng-model="nombre">
    <button ng-click="buscar()" class="btn">buscar</button>
    <table class="table table-bordered">
        <tr>
            <th>Id</th><th>Sucursal</th><th>Numero</th><th>Cif</th><th>Dc</th><th>Saldo</th>
        </tr>
        <tr ng-repeat="cuentaBancaria in cuentasBancarias">
            <td>{{cuentaBancaria.idCuentaBancaria}}</td>
            <td>{{cuentaBancaria.sucursalBancaria.nombre}}</td>
            <td>{{cuentaBancaria.numeroDeCuenta}}</td>
            <td>{{cuentaBancaria.cif}}</td>
            <td>{{cuentaBancaria.dc}}</td>
            <td>{{cuentaBancaria.saldo}}</td>
    </table>
    <p><a href="#/cuentaBancaria/new" >Insertar Cuenta</a></p>
</div>
