<h1 align="center">Cuentas Bancarias</h1>
<div align="center" style="margin: 40px 50px;" ng-controller="CuentasBancariasSearchController"> 
    <input type="text" class="input-medium search-query" placeholder="Find by Cif" ng-model="cif">
    <button ng-click="buscar()" class="btn">buscar</button>
    <table class="table table-bordered">
        <tr>
            <th>Id</th><th>Sucursal</th><th>Numero</th><th>Nombre</th><th>Apellido</th><th>Dc</th><th>Saldo</th>
        </tr>
        <tr ng-repeat="cuentaBancaria in cuentasBancarias">
            <td>{{cuentaBancaria.idCuentaBancaria}}</td>
            <td>{{cuentaBancaria.sucursalBancaria.nombre}}</td>
            <td><a href="">{{cuentaBancaria.numeroDeCuenta}}</a></td>
            <td>{{cuentaBancaria.cliente.nombre}}</td>
            <td>{{cuentaBancaria.cliente.apellido}}</td>
            <td>{{cuentaBancaria.dc}}</td>
            <td>{{cuentaBancaria.saldo}}</td>
    </table>
    <p><a href="#/cuentaBancaria/new" >Insertar Cuenta</a></p>
</div>
