<div class="col-lg-6">
    <form class="well">
        <fieldset>
            <legend>Insert new Sucursal</legend>
            <div class="control-group">
                <!--<input type="text" ng-model="entidadBancaria.idEntidad" class="input-small" placeholder="IdEntity" readonly=""><br>-->
                <input type="text" ng-model="sucursalBancaria.codigoSucursal" class="form-control" placeholder="Code"><br>
                <input type="text" ng-model="sucursalBancaria.nombre" class="form-control" placeholder="Name"><br>
            </div>
        </fieldset>
    </form>
    <button type="button" class="btn btn-primary" ng-click="buttonOK()">Submit</button>
</div>     
