<div align="left" style="margin: 40px 50px;"> 

    <div id="contieneTabla" style="margin: 40px 100px">
        <h5>Insert new Bank Sucursal</h5>
                
        <form>
            <!--<input type="text" ng-model="entidadBancaria.idEntidad" class="input-small" placeholder="IdEntity" readonly=""><br>-->
            <input type="text" ng-model="sucursalBancaria.codigoSucursal" class="input-small" placeholder="Code"><br>
            <input type="text" ng-model="sucursalBancaria.nombre" class="input-small" placeholder="name"><br>         
        </form>
        <br/><br/>
        <button type="button" class="btn" ng-click="buttonOK()">Submit</button>
        
        <p><a href="#/">Inicio</a></p>
    </div>
</div>